---
layout: main
---
<div class="columns is-vcentered">
  <div class="column is-one-fifth content">
    <figure class="image">
      <img src="{{ page.image }}">
    </figure>
  </div>
  <div class="column content">
    <h1>{{ site.title }}</h1>
    {{ content }}
  </div>
  {% if page.show_news %}
    <div class="column is-one-fifth content">
      <div class="has-text-centered content">
        <h2>Novedades</h2>
      </div>
      {% assign news = site.news | sort: 'date' | reverse %}
      {% for entry in news limit:3 %}
        {% include news-item.html %}
      {% endfor %}
    </div>
  {% endif %}
</div>
